html , body {
    margin: 0;
}  

.container .header {
    background-color: #141d26;	;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    color:  #c51f5d;
    

}
.container .header-logo {
    font-size: 20px;
    padding-left: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}
.container .header h1 {
    margin: 0;

}
.container .header-nav {
   display: flex;
   justify-content: space-evenly; 
   gap: 16px;
   font-family:'Roboto',sans-serif;
   padding-right: 50px;
   
}
.container .header a {
    text-decoration: none;
    color: #c51f5d;
    
}

.container .intro {
    background-color: #141d26;  
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;



    
}
.container .intro button {
    background-color: #c51f5d;
    padding: 6px;
    text-align:center;
    font-size: 16px;
    letter-spacing: 1px;
    width: 100px;
    border: none;
    border-radius: 1em;
    color: #ffffff;
    font-family:'Roboto',sans-serif;
} 

.container .page-intro-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#ffffff;
    
}
.container .page-intro-img img {
    height: auto;
    width: 400px;
    border: 2px solid #c51f5d;
    display: flex;
    
}

.container .illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    height: 180px;
    padding-left: 50px;
    padding-right: 50px;
   
}

.container .info {
    text-align: center;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    font-family:'Roboto',sans-serif;
    color:#c51f5d;   

}


.container .card {
    width: 150px;
    height: 150px;
    border: solid #c51f5d 2px;
    border-radius: 10%;
    margin-bottom: 0;

}

.container .card img {
    border-radius: 10%;
    height: 100%;
    width: 100%;
}

.container .illustration-info {
    display: flex;
    justify-content: center;
    gap:10px;
 
}
.container .illustration-info p {
    font-family:'Roboto',sans-serif;
    margin: 0;
    text-align: center;
    color: #243447;
    width: 160px;
    height: 100px;
}


.container .sentence {
    background-color : #E5E7EB ;
    color: #243447;
    height: 200px;;
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family:'Roboto',sans-serif;
    font-size: 30px;
    font-weight: lighter;
    font-style: italic;
}

.container .sentence .quote-author {
    font-size: 20px;
}

.container .call-to-action {
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .call-card {
    background-color: #c51f5d;
    font-family:'Roboto',sans-serif;
    color: white;
    gap: 16px;
    padding: 30px;
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .call-card-text p,h4{
    margin: 0;
    padding: 0;
}

.container .call-card-text p{
    font-size: 13px;
}

.container .call-card button {
    background-color: #c51f5d;
    padding: 6px;
    text-align:center;
    font-size: 16px;
    letter-spacing: 1px;
    width: 100px;
    border: solid 2px white;
    border-radius: 1em;
    color: #ffffff;
    font-family:'Roboto',sans-serif;
}

.container .footer {
    font-family: 'Times New Roman', Times, serif;
    background-color: #141d26;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    
}

.container .footer p{
    margin: 0;
    padding: 0%;
}